html {
    height: 100%;
}

body {
    position: relative;
    background-color: white;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Arvo";
    text-align: center;
}

#header_contact {
    display: flex;
    justify-content: center;
    min-width: 100%;
    min-height: 45em;
    background-image: url(../images/sport3.jpg);
    background-size: cover;
    background-repeat: no-repeat;


}

#cadre_titre {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10em;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(000, 0, 0, 0.5)
}

#header_contact h1 {
    font-size: 6em;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}


/******* STYLE DU FORMULAIRE *******/
form {
    background-color:#7e9d01;
    padding: 10px;
    display: block;

}

/****** STYLES DU CONTENEUR ******/

#conteneur-form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    animation-duration: 2s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

/******** STYLES DES ELEMENTS DU CONTENEUR ******/

#element-form1 {
    margin-left: 5px;
    margin-right: 5px;
    
    }


#element-form2 {
    margin-left: 5px;
    margin-right: 5px;
    
}


legend {
    margin-bottom: 10px;
    font-size: 2em;
}

#conteneur-form input {
    margin-bottom: 20px;
    border-radius: 5px;
    height: 42px;
}

#conteneur-form textarea {
    border-radius: 5px;
}


/******** STYLES DU BOUTON DU FORMULAIRE ******/

#bouton-form{
  animation-duration: 4s;
    animation-name: slidein;
       
}

@keyframes slidein {
    from {
      margin-right: 100%;
      width: 300%; 
    }
  
    to {
      margin-right: 0%;
      width: 100%;
    }
  }

#bouton-form input {
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 20px;
}


#bouton-form input:hover {
    background: rgb(49, 47, 47);
    color: white;
}


/********* STYLES DU PARALAX **********/

.parallax-window {
    min-height: 50vh;
    background: transparent;
}


/******** STYLES DE LA MAP *******/

iframe {
    width: 100%;
    height: 50vh;
}


/******** STYLES DE JOIN US ******/
#join_us {
    padding-top: 20px;
    width: 100%;
    min-height: 50vh;
    font-size: 1.7em;
}





/******* RESPONSIVITE ********/

@media (max-width:1099px) {
    #join_us {
        font-size: 1.5em;
    }
}


@media (max-width:991px) {
    
    #header_contact {
        min-height: 35em;
    }

    #header_contact h1 {
        font-size: 3em;
    }
    
    #join_us {
        font-size: 1.4em;
    }
}

@media (max-width:767px) {
    
    #header_contact {
        min-height: 35em;
    }

    #header_contact h1 {
        font-size: 3em;
    }
    
    #join_us {
        font-size: 1.2em;
    }
}

@media (max-width:480px) {
    
    #header_contact {
        min-height: 35em;
    }

    #header_contact h1 {
        font-size: 3em;
    }
    
    #join_us {
        font-size: 1.1em;
    }

    #conteneur-form {
        animation-duration: 2s;
        animation-name: slidein;
    }
    @keyframes slidein {
        from {
          margin-left: 100%;
          width: 150%; 
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
      }

}

