/*****************/
/*** GALERIE*** */
/****************/

html{
    height: 100%;
  }

body{
    position: relative;
    background-color: white;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Arvo";
    text-align: center;
}


h2 {
    margin-top: 100px;
    font-size: 2.2em;
}

li {
    list-style-type: none;
}

.ligne1, .ligne2, .ligne3 {
    min-height: 35vh;
    margin-top: 50px;
}

.photol1 img, .photol2 img, .photol3 img {
    display: inline-flex;
    margin-right: 50px;
    margin-top: 20px;
    height: 250px;
    width: 250px;

}

.ligne1 img, .ligne2 img, .ligne3 img {
    margin-right : 5em;
}

ul#photol1, ul#photol2, ul#photol3 {
    max-width: 100%;
    height: auto;
    display: inline-flex;
}

@media (max-width:991px) {
    .ligne1, .ligne2, .ligne3 {
        min-height: 40vh;
        margin-top: 50px;
    }

    .photol1 img, .photol2 img, .photol3 img {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
        height: 190px;
        width: 190px;

    }

    .ligne1 img, .ligne2 img, .ligne3 img {
        margin-right : 2em;
    }
}

@media (max-width:767px) {
    .ligne1, .ligne2, .ligne3 {
        min-height: 40vh;
        margin-top: 20px;
    }

    .photol1 img, .photol2 img, .photol3 img {
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 10px;
        height: 150px;
        width: 150px;

    }

    .ligne1 img, .ligne2 img, .ligne3 img {
        margin-right : 1em;
    }
}

@media (max-width:480px) {

    .ligne1, .ligne2, .ligne3 {
        min-height: 35vh;
        margin-top: 20px;
    }

    .photol1 img, .photol2 img, .photol3 img {
        margin-left: 2px;
        margin-right: 2px;
        margin-top: 2px;
        height: 100px;
        width: 100px;

    }

    .ligne1 img, .ligne2 img, .ligne3 img {
        margin-right : 0.8em;
    }
}
