html, body {
  padding: 0;
  margin: 0;
}
header {
  display:flex;
}

header ul {
  text-align: center;
  word-spacing: 100px;
}
header > nav {
  height: 60px;
  width: 100%;
  font-family: 'Arvo';
  background-color: #303030;
  text-transform: uppercase;
  position: fixed;

}

#logo {
    width: 3.5em;
    padding-top: 2px;
}

.menu {
    font-size: 1.5em;
}

header > nav > ul > li{
    display: inline-block;
    vertical-align: middle;
}

nav > ul > li > a {
  padding-top: 12px;
  font-size: 16px;
  text-decoration: none;
  color: #C5C5C5;
}

nav > ul > li > a:hover {
  color: white;
}

@media all and (max-width:1199px) {

  header > nav {
    height: 60px;
  }

  #logo {
      width: 3.5em;
      padding-top: 2px;
  }

  .menu {
      font-size: 1.5em;
  }

  header ul {
    text-align: center;
    word-spacing: 80px;
  }

  nav > ul > li > a {
    padding-top: 12px;
    font-size: 14px;
  }

}

@media all and (max-width:780px) {

  header > nav {
    height: 50px;
  }

  #logo {
      width: 3em;
      padding-top: 2px;
  }

  .menu {
      font-size: 1.3em;
  }

  header ul {
    text-align: center;
    word-spacing: 50px;
  }

  nav > ul > li > a {
    padding-top: 12px;
    font-size: 12px;
  }

}

@media all and (max-width:550px) {

  header > nav {
    height: 35px;
  }

  #logo {
      width: 2.5em;
      padding-top: 2px;
  }

  .menu {
      font-size: 1em;
  }

  header ul {
    text-align: center;
    word-spacing: 30px;
  }

  nav > ul > li > a {
    padding-top: 10px;
    font-size: 10px;
  }
}
