html{
  height: 100%;
}

body{
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Arvo";
  text-align: center;
}

.img_rank{
  width: 100%;
  position: relative;
}


#bloc_classements{
    border-bottom: 6px solid #9ec400;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 45em;
    background-image: url(../images/imgsport.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#bloc_classements h1{
    font-size: 6em;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}

#cadre_titre{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10em;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(000,0,0,0.5)
}

.tableau{
  animation-duration: 2s;
  animation-name: slidein;
  margin: 4% 0;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.tableau th{
  background-color: #7e9d01;
  border: 2px solid white;
  padding: 10px;
  text-align: center;
  font-size: 3em;
}

.tableau td{
  border: 2px solid white;
  padding: 10px;
  text-align: center;
  font-size: 2.5em;
  background-color: #9ec400;
}

.tableau table{
  border-collapse: collapse;
  width: 90%;
  border-radius: 20px;
  overflow: hidden;
}

#prochaines{
  border-top: 5px solid #9ec400;
  border-bottom: 5px solid #9ec400;
  padding: 20px;
  font-size: 4em;
  text-align: center;
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.tabl_next_day{
  animation-duration: 4s;
  animation-name: slidein;
  margin: 4% 0;
}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.tabl_next_day th{
  background-color: #7e9d01;
  border: 2px solid white;
  padding: 10px;
  text-align: center;
  font-size: 2.5em;
  font-weight: normal;
  border-radius: 20px;
}

.tabl_next_day td{
  border: 2px solid white;
  padding: 10px;
  text-align: center;
  font-size: 2.5em;
}

.tabl_next_day table{
  border-collapse: collapse;
  width: 80%;
}

/*media queries*/

@media screen and (max-width: 1000px){

#bloc_classements{
  min-height: 35em;
}

#bloc_classements h1{
    font-size: 3em;
}

.tableau th{
  border: 1px solid white;
  padding: 5px;
  font-size: 1.2em;
}

.tableau td{
  border: 1px solid white;
  padding: 5px;
  font-size: 1em;
}

.tabl_next_day th{
  border: 1px solid white;
  padding: 5px;
  font-size: 1.2em;
}

.tabl_next_day td{
  border: 1px solid white;
  padding: 5px;
  font-size: 1em;
}

#prochaines{
  font-size: 2.5em;
}
}
