html{
    height: 100%;
  }
  
  body{
    position: relative;
    background-color: white;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Arvo";
    text-align: center;
  }

#header_contact{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 50vh;
    background-image: url(../images/sport3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

#cadre_titre{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10em;
    margin-top:auto;
    margin-bottom: auto;
    background-color: rgba(000,0,0,0.5)

}

#header_contact h1{
    font-size:6em;
    color: white;
    margin-top:auto;
    margin-bottom: auto;
}


/******* STYLE DU FORMULAIRE *******/
form{
    background-color: grey;
    padding: 10px;
    min-height: 50vh;
    display: block;

}

/****** STYLES DU CONTENEUR ******/

#conteneur-form{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/******** STYLES DES ELEMENTS DU CONTENUR ******/

.element-form1 {
    margin-left: 5px;
    margin-right: 5px;
      
}

.element-form2 {
    margin-left: 5px;
    margin-right: 5px;
}

legend{
    margin-bottom: 10px;
    font-size: 2em;
}

#conteneur-form input{
    margin-bottom: 20px;
    border-radius: 5px;
}

#conteneur-form textarea{
    border-radius: 5px;
}


/******** STYLES DU BOUTON DU FORMULAIRE ******/
#bouton-form{
    

}

