/*****************/
/*** GALERIE*** */
/****************/

html{
    height: 100%;
  }

body{
    position: relative;
    background-color: white;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Arvo";
    text-align: center;
}


h2 {
    font-size: 2.2em;
}

li {
    list-style-type: none;
}

.ligne1, .ligne2, .ligne3 {
    min-height: 50vh;
    margin-top: 50px;
}

.photol1 img, .photol2 img, .photol3 img {
    display: inline-flex;
    margin-right: 50px;
    margin-top: 20px;
    height: 250px;
    width: 250px;

}

ul#photol1, ul#photol2, ul#photol3 {
    max-width: 100%;
    height: auto;
    display: inline-flex;
}

.ligne1 img, .ligne2 img, .ligne3 img {
    margin-right : 5em;
}
