/*****************/
/*** GALERIE*** */
/****************/

html{
    height: 100%;
  }

  body{
    position: relative;
    background-color: white;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Arvo";
    text-align: center;
  }


h2 {
    font-size: 2.2em;
}

li {
    list-style-type: none;
}

.ligne1 {
    min-height: 30vh;
    margin-top: 100px;
}

.photol1 img {
    max-width: 100%;
    height: auto;
    display: inline-flex;
    margin-right: 50px;
}

ul#photol1 {
    max-width: 100%;
    height: auto;
    display: inline-flex;
}


.photol2 {
    width: 100%;
    height: auto;
    display: inline-flex;
    margin-right: 50px;
}


.ligne1, .ligne2 img {
    margin-right : 5em;
}
