
html, body {
  padding: 0;
  margin: 0;
}

header > nav {
  height: 80px;
  width: 100%;
  background-color: #303030;
  text-transform: uppercase;
  position: fixed;
}

#logo {
    width: 3.5em;
}

.menu {
    font-size: 1.5em;
}

header > nav > ul > li{
    display: inline-block;
    margin-left: 10%;
    vertical-align: middle;
}

nav > ul > li > a {
  padding-top: 12px;
  font-size: 17px;
  letter-spacing: .5px;
  text-decoration: none;
  color: #8d8d8d;
}

nav > ul > li > a:hover {
  color: white;
}
