html, body {
  padding: 0;
  margin: 0;
}

header > nav {
  height: 60px;
  width: 100%;
  font-family: 'Arvo';
  background-color: #303030;
  text-transform: uppercase;
  position: fixed;
}

#logo {
    width: 3.5em;
    padding-top: 2px;
}

.menu {
    font-size: 1.5em;
}

header > nav > ul > li{
    display: inline-block;
    margin-inline-end: 5%;
    vertical-align: middle;
    text-align: center;
}

nav > ul > li > a {
  padding-top: 12px;
  font-size: 16px;
  text-decoration: none;
  color: #C5C5C5;
}

nav > ul > li > a:hover {
  color: white;
}

@media all and (max-width:1199px) {

  header > nav {
    height: 60px;
  }

  #logo {
      width: 3.5em;
      padding-top: 2px;
  }

  .menu {
      font-size: 1.5em;
  }

  header > nav > ul > li{

      margin-inline-end: 5%;
  }

  nav > ul > li > a {
    padding-top: 12px;
    font-size: 16px;
  }

}

@media all and (max-width:767px) {

  header > nav {
    height: 50px;
  }

  #logo {
      width: 3em;
      padding-top: 2px;
  }

  .menu {
      font-size: 1.3em;
  }

  header > nav > ul > li{

      margin-inline-end: 4%;
  }

  nav > ul > li > a {
    padding-top: 12px;
    font-size: 16px;
  }

}

@media all and (max-width:480px) {

  header > nav {
    height: 35px;
  }

  #logo {
      width: 2.5em;
      padding-top: 2px;
  }

  .menu {
      font-size: 1em;
  }

  header > nav > ul > li{

      margin-inline-end: 5%;
  }

  nav > ul > li > a {
    padding-top: 10px;
    font-size: 10px;
  }

}
