*{
  margin: 0;
  padding: 0;
}

.img_rank{
  position: relative;
  width: 100%;
  border-bottom: 6px solid green;
}

.bloc_classements{
}

#classements{
  position: absolute;
  text-align: center;
  font-size: 6em;
  z-index: 10;
  margin-top: -17%;
  margin-left: 30%;
  color: white;
}

.tableau th{
  background-color: green;
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  font-size: 3em;
}

.tableau td{
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  font-size: 2.5em;
}

.tableau table{
  border-collapse: collapse;
  width: 90%;
}

.tabl_next_day th{
  background-color: pink;
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  font-size: 2.5em;
  font-weight: normal;
}

.tabl_next_day td{
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  font-size: 2.5em;
}

.tabl_next_day table{
  border-collapse: collapse;
  width: 80%;
}

#prochaines{
  font-size: 4em;
  text-align: center;
}

/*media queries*/

@media screen and (max-width: 1000px){
.tableau th{
  border: 1px solid black;
  padding: 5px;
  font-size: 1.2em;
}

.tableau td{
  border: 1px solid black;
  padding: 5px;
  font-size: 1em;
}

.tabl_next_day th{
  border: 1px solid black;
  padding: 5px;
  font-size: 1.2em;
}

.tabl_next_day td{
  border: 1px solid black;
  padding: 5px;
  font-size: 1em;
}

#prochaines{
  font-size: 2.5em;
}
}
